<h1>Please Login!</h1><br><br>

<%= flash[:message] if flash[:message] %>

<%= form_for :user do |f| %>
    <%= f.label :username, 'Username:' %>
    <%= f.text_field :username, class: 'form-control', :style => 'width: 50%;' %>
    <br><br>
    <%= f.label :password, 'Password:' %>
    <%= f.password_field :password, class: 'form-control', :style => 'width: 50%;' %>
    <br><br>
  <%= f.submit "Log in", class: 'btn btn-primary' %>
<% end %>
<br>
<a href="/auth/google_oauth2" class="btn btn-primary">Log in with Google</a>
