<h1>Edit Comment!</h1>
  <br>

<%= form_for(@comment) do |f|%>

  <%= f.label :book, "Book: " %>
  <%= f.collection_select :book_id, Book.all, :id, :title, { class: 'form-control' } %>
  <br><br>
  <%= f.label :content, "Content: " %>
  <%= f.text_field :content, class: 'form-control', :style => 'width: 50%;' %>

  <br>
  <%= f.submit "Update Comment", class: 'btn btn-primary' %>
<% end %>