<h1>Edit <%= @book.title %></h1><br><br>

<%= form_for @book do |f| %>

  <%= f.label "Choose a genre: " %>
  <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: true %>


  <p><strong>Or create a new genre: </strong>
  <%= f.fields_for :genre do |c|%>
  <%= c.text_field :name%>
  <% end %>
  </p>

    <%= f.label :title, 'Title:' %>
    <%= f.text_field :title, class: 'form-control', :style => 'width: 50%;' %>
    <br><br>
    <%= f.label :description, 'Description:' %>
    <%= f.text_area :description, class: 'form-control', :style => 'width: 50%;' %>
    <br><br>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>

<%= form_for @book, method: :delete do |f| %>
  <%= f.submit "Delete", class: 'btn btn-primary'%>
<% end %>