<h1>Create a new Book</h1><br><br>

<%= form_for @book do |f| %>
    <%= f.label :title, 'Title:' %>
    <%= f.text_field :title, class: 'form-control', :style => 'width: 50%;' %>
    <br><br>
    <%= f.label :description, 'Description:' %>
    <%= f.text_area :description, class: 'form-control', :style => 'width: 50%;' %>
    <br><br>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>

<% if @book.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
    <ul>
    <% @book.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>