<h1>Create a new Book</h1><br><br>

<%= render partial: "layouts/errors", locals: {object: @book} %>


<%= form_for @book do |f| %>

  <%= f.label "Choose a genre:" %>
  <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: true %>


    <p><b>Or create a new genre: </b>
  <%= f.fields_for :genre_attributes do |c|%>
    <%= c.text_field :name%>
  <% end %>
  </p>

    <%= f.label :title, 'Title:' %>
    <%= f.text_field :title, class: 'form-control', :style => 'width: 50%;' %>
    <br><br>
    <%= f.label :description, 'Description:' %>
    <%= f.text_area :description, class: 'form-control', :style => 'width: 50%;' %>
    <br><br>
  <%= f.submit class: 'btn btn-primary' %>

<% end %>