<h1>Create a new Book</h1><br><br>

<%= form_for @book do |f| %>
    <%= f.label :title, 'Title:' %>
    <%= f.text_field :title, class: 'form-control', :style => 'width: 50%;' %>
    <br><br>
    <%= f.label :description, 'Description:' %>
    <%= f.text_area :description, class: 'form-control', :style => 'width: 50%;' %>
    <br><br>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
