<h1><%= @book.title %></h1>

<h2>Author: <%= @book.user.username %></h2><br>

<div><%= @book.description%></div><br>

<h4>Comments: </h4>
<% @book.comments.each do |c| %>
    <li><strong><%= c.user.username%></strong> says "<%= link_to c.content, comment_path(c)%>"</li>
<% end %>
<br>
<p><%= link_to 'See all comments', book_comments_path(@book) %></p>
<p><%= link_to 'Add a new comment', new_book_comment_path(@book) %></p>
